@import "../node_modules/bulma/css/bulma.min.css";

#cy-container {
  display: flex;
  justify-content: center;
}
#cy {
  height: 600px;
  max-height: 65vh;
  width: 95vw;
  display: block;
  z-index: 1;
}

/* menu */
#menu {
  margin: 5px;
  display: flex;
  justify-content: center;
}
#menu > div {
  border-radius: 5px;
  border: 1px solid black;
}
#menu > button {
  border-radius: 5px 5px 0px 0px;
}
#parametrs {
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
#parametrs input {
  font-size: 0.8rem;
}
#parametrs label {
  font-size: 0.8rem;
}
#parametrs .field {
  margin: 0 5px;
}
#parametrs hr {
  margin: 5px;
}

.input:invalid {
  border-color: #f14668;
}